@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
	font-family: 'Dosis', sans-serif;
}


h1 {
    text-align:center;
    font-size: 5em;
    margin-top: 275px;
    color: white;
    letter-spacing: 4px;
}
h2{
    text-align: center;
    font-size: 2em;
    color: white;
    letter-spacing: 3px;
}
.topnav {
    font-size: 1.75em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 99%;
    letter-spacing: 3px;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover:not(.active) {
    color: green
}

.active {
    background-color: green;
}

.footer {
    color: white;
    font-size: 1em;
    padding: 1px;
    text-align: center;
    background: black;
    margin-top: 200px;
    width: 99%;
    letter-spacing: 3px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 10%;
  padding: 5%;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: transform .3s;
}

