body {
	font-family: "Courier New", Courier, monospace
}

.topnav {
    font-size: 2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover:not(.active) {
    background-color: white;
    color: black
}

.active {
    background-color: green;
}

