body {
	font-family: "Courier New", Courier, monospace
}

iframe {
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 900px
}

h1 {
    text-align:center;
    font-size: 5em;
    margin-top: 275px;
    color: white;
}
h2{
    text-align: center;
    font-size: 2em;
    color: white;
}
.topnav {
    font-size: 2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 99%;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover:not(.active) {
    background-color: white;
    color: black
}

.active {
    background-color: green;
}

.footer {
    color: white;
    font-size: 1em;
    padding: 1px;
    text-align: center;
    background: black;
    margin-top: 200px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 15%;
  padding: 67px;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}